
#header{
    width: 300px;
    height: 100vh;
    transition: 0.4s;
}
@media (min-width: 1200px){
    #main {
        margin-left: 300px;
    }
}
@media (max-width: 1199px){
    #header {
        margin-left: -300px;
    }
}